<div class="done-container">
    <div class="success-animation">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
    </div>
    <p style="font-size: 30px; text-align: center;">Congratulations! You answered {{global.score.score}} out of {{global.score.total}} correct!</p>
    <button class="btn-main" (click)="retry()">Play 1 more time</button>
</div>
