.answers{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.question{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info{
    font-weight: bold;
}

.diff{
    font-size: 16px;
    color: gray;
}
